* {
  box-sizing: content-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --text-main: rgba(255, 255, 255, 0.87);
  --bg-main: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-main) !important;
  color: var(--text-main);
  font-family: inherit;
}


/* GENERAL */
ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}